@{
    ViewData["Title"]= "Profissao";
}
<h2>Profissão</h2>

<p> Olá sou o D.Boueri </p>
<P> Trabalho na Secretari de saúde de Nepomuceno-MG, e nas horas vagas desenvolvo programas e jogo futebol "Meto gol" </P>
